<div class="modal fade" [ngClass]="{'show modal-main-container': isModalOpen }" id="exampleModalCenteredScrollable"
    tabindex="-1" aria-labelledby="exampleModalCenteredScrollableTitle" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" [ngClass]="{'collapse': !isModalOpen }">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="exampleModalCenteredScrollableTitle">
                    Delete</h1>
                <button (click)="onClose()" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="address-history-form' modal-body">
                <p>Are you sure you want to delete this client?</p>
            </div>
            <div class="modal-footer">
                <button (click)="onClose()" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Cancel</button>
                <button (click)="onSubmit()" type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isModalOpen" class="modal-backdrop show fade"></div>