<button type="button" (click)="toggleModal(true)" class="btn btn-primary mb-2">Add address(es)</button>

<app-table (onElementDelete)="onDeleteAddress($event)" (openModalOnEdition)="openFormModalOnEdition($event)"
    [data]="data" [actionControls]="true" [tableConfig]="tableConfig"></app-table>

<app-form-modal [isUpdating]="isUpdatingInput" (toggleModal)="toggleModal($event)" [modalFormConfig]="modalFormConfig"
    (formData)="onSubmit($event)" [form]="form" [isModalOpen]="isModalOpen">
</app-form-modal>